<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>The k-Means Algorithm</string>
	<key>Pages</key>
	<array>
		<string>kMeansIn2D.playgroundpage</string>
		<string>kMeansForColors.playgroundpage</string>
	</array>
</dict>
</plist>
